<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodbye! | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <form action="/madlib">
      <label for="person-name">Enter a Person's Name:</label>
      <input type="text" id="person-name" placeholder="Enter a name">
      <br>
      <label for="color">Enter a Color:</label>
      <input type="text" id="color" placeholder="Enter a color">
      <br>
      <label for="noun">Enter a Noun:</label>
      <input type="text" id="noun" placeholder="Enter a noun">
      <br>
      <label for="adjective">Enter an Adjective:</label>
      <input type="text" id="adjective" placeholder="Enter an adjective">
    </form>
  </body>

</html>